body{
    margin: 0;
    font-family: "Open Sans", sans-serif;

}

.cabeçalho{
    width: 100%;
    height: 50px;
    border: 2PX solid goldenrod;
    background: gray
}

.menú{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin:auto
    
}

.link{
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

.black{
    color:black
}
.titulo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: hsla(22, 98%, 46%, 0.959);
    
}

.Projetos{
    width: 100%;
    height: 600px;
    border: 2PX solid black;
    background: rgba(218, 165, 32, 0.377)
}

.footer{
    width: 100%;
    height: 50px;
    border: 2PX solid goldenrod;
    background: gray
}
